@using LiBook.Data.Entities
@using Microsoft.AspNetCore.Identity
@model IEnumerable<UserProfile>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
}
@inject UserManager<UserProfile> UserManager

<div class="row">
    <div class="col-md-6">
        <h2>Manage users</h2>
    </div>
    <div class="col-md-6">
        <input class="form-control border-right-0 border-left-0 border-top-0" style="border-bottom: 2px solid rgb(127, 0, 152)" type="text" placeholder="Search" aria-label="Search" id="search" />
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="text-info font-weight-bold">
                <td>#</td>
                <td>Name</td>
                <td>Email</td>
                <td class="text-center">Actions</td>
            </tr>
        </thead>
        @foreach (var user in Model)
        {

            <tr class="user">
                <td>@i</td>
                <td>@(user.FirstName + " " + user.LastName)</td>
                <td>@user.Email</td>
                <td class="text-center">
                    @if (!await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        if (!await UserManager.GetLockoutEnabledAsync(user))
                        {
                            <form asp-action="LockUser" asp-route-id="@user.Id">
                                <input type="submit" class="btn btn-danger" value="Lock" />
                            </form>
                        }
                        else
                        {
                            <form asp-action="UnlockUser" asp-route-id="@user.Id">
                                <input type="submit" class="btn btn-success" value="Unlock" />
                            </form>
                        }
                    }
                </td>
            </tr>
            i++;
        }
    </table>
</div>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/js/site.js"></script>
<script type="text/javascript">
    highlight("menu_admin");
</script>
<script type="text/javascript">
    $("#search").keyup(function () {
        var txt = $('#search').val();
        $('.user').each(function () {
            $(this).hide();
            if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                $(this).show();
            }
        });
    });
</script>