@using LiBook.Services.DTO
@using LiBook.Services.Interfaces
@model BookViewModel
@inject IGenreService GenreService
@{
    ViewData["Title"] = "AssignGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var allGenres = GenreService.GetList().ToArray();

    int part1Count = 0, part2Count = 0, part3Count = 0;

    if (allGenres.Length >= 3)
    {
        var step = allGenres.Length / 3;
        var left = allGenres.Length % 3;
        part1Count = part2Count = part3Count = step;
        if (left >= 1)
        {
            part1Count++;
        }
        if (left == 2)
        {
            part2Count++;
        }
    }
    else
    {
        if (allGenres.Length == 0)
        {
            part1Count = part2Count = part3Count = 0;
        }
        else if (allGenres.Length == 1)
        {
            part1Count = 1;
        }
        else if (allGenres.Length == 2)
        {
            part1Count = part2Count = 1;
        }
    }
    var collection1 = new GenreDTO[part1Count];
    var collection2 = new GenreDTO[part2Count];
    var collection3 = new GenreDTO[part3Count];
    for (var i = 0; i < part1Count; i++)
    {
        collection1[i] = allGenres[i];
    }
    for (var i = 0; i < part2Count; i++)
    {
        collection2[i] = allGenres[i + part1Count];
    }
    for (var i = 0; i < part3Count; i++)
    {
        collection3[i] = allGenres[i + part1Count + part2Count];
    }

}

<h2>Assign genres</h2>

<hr />

<div class="row">
    <div class="col-md-3">
        <div class="card">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img class="card-img-top" src="/pics/Books/@Model.ImagePath" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top" src="/pics/Books/default.png" alt="Card image cap">
            }
            <div class="card-body text-center">
                <h5 class="card-title"><a asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a></h5>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <input class="form-control border-right-0 border-left-0 border-top-0" style="border-bottom: 2px solid rgb(127, 0, 152)" type="text" placeholder="Search" aria-label="Search" id="search" />
        <form asp-action="AssignGenres" method="post">
            <input type="submit" class="btn btn-block btn-success" value="Save" />
            <input type="hidden" value="@Model.Id" name="id" id="id" />
            <br />

            <div class="row">
                <div class="col-md-4">
                        @foreach (var genre in collection1)
                        {
                            <div class="chiller_cb">
                                <input id="@genre.Id" type="checkbox" name="genres" value="@genre.Id" @(Model.BooksGenres.Any(i => i.GenreId == genre.Id) ? "checked=''" : "")>
                                <label for="@genre.Id">@genre.Name</label>
                                <span></span>
                            </div>
                        }
                </div>
                <div class="col-md-4">
                        @foreach (var genre in collection2)
                        {
                            <div class="chiller_cb bor">
                                <input id="@genre.Id" type="checkbox" name="genres" value="@genre.Id" @(Model.BooksGenres.Any(i => i.GenreId == genre.Id) ? "checked=''" : "")>
                                <label for="@genre.Id">@genre.Name</label>
                                <span></span>
                            </div>
                        }
                </div>
                <div class="col-md-4">
                        @foreach (var genre in collection3)
                        {
                            <div class="chiller_cb">
                                <input id="@genre.Id" type="checkbox" name="genres" value="@genre.Id" @(Model.BooksGenres.Any(i => i.GenreId == genre.Id) ? "checked=''" : "")>
                                <label for="@genre.Id">@genre.Name</label>
                                <span></span>
                            </div>
                        }
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $("#search").keyup(function() {
        var txt = $('#search').val();
        $('.author').each(function () {
            $(this).hide();
            if($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1){
                $(this).show();
            }
        });
    });
</script>