@model BookViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: rgba(255, 255, 255, 0.7); padding: 2em;" class="card">
    <h2>@Model.Title</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="/pics/Books/@Model.ImagePath" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="text-justify">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dd class="float-right">
                    <a asp-action="Index" class="fa fa-arrow-circle-left btn btn-warning text-white"> </a>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info fa fa-pencil text-white"> </a>
                    @await Component.InvokeAsync("LikeButton", new { model = Model })
                </dd>
            </dl>
        </div>
    </div>
</div>
<br/>
<div style="background-color: rgba(255, 255, 255, 0.7); padding: 2em;" class="card">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h5>Comments</h5>
                </div>
                <div class="col-md-6 text-right">
                    @Html.ActionLink("\tCreate", "AddComment", "Comment", new { id = Model.Id }, new { @class = "btn btn-success fa fa-plus-circle"})
                </div>
            </div>
            <br/>
            @await Component.InvokeAsync("BookComments", new {model = Model})
        </div>
        <div class="col-md-4">
            <h5>Authors</h5>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery/dist/jquery.backstretch.js"></script>
<script type="text/javascript" src="/js/bg.js"></script>
<script type="text/javascript">
    bg("/pics/Books/@Model.ImagePath");
</script>