@model IEnumerable<LiBook.Models.BookViewModel>
@using LiBook.Services.Interfaces
@using LiBook.Models
@inject IGenreService GenreService
@{
    var genres = GenreService.GetList().ToArray();
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 text-right">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-success fa fa-plus"></a>
        }
    </div>
</div>
<form asp-action="Search" asp-controller="Books" method="post">
    <input name="word" class="form-control border-right-0 border-left-0 border-top-0" style="border-bottom: 2px solid rgb(127, 0, 152)" type="text" placeholder="Search" aria-label="Search" id="word" />
    <br />
    <div class="row">
        <div class="col-sm-2">
            @foreach (var genre in genres)
            {
                <div class="chiller_cb">
                    <input id="@genre.Id" type="checkbox" name="genres" value="@genre.Id">
                    <label for="@genre.Id">@genre.Name</label>
                    <span></span>
                </div>
            }

            <input type="submit" value="Search" class="btn btn-block text-white" style="background-color: rgb(127, 0, 152);" />
        </div>
        <div class="col-sm-10">
            <div class="row card-columns">
                @foreach (var book in Model)
                {
                    <div class="col-md-3 book">
                        <div class="card">
                            @if (!string.IsNullOrEmpty(book.ImagePath))
                            {
                                <img class="h-50 card-img-top" src="/pics/Books/@book.ImagePath" alt="Card image cap">
                            }
                            else
                            {
                                <img class="h-50 card-img-top" src="/pics/Books/default.png" alt="Card image cap">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@book.Title</h5>
                                <div class="text-right">
                                    @await Component.InvokeAsync("BookTabActions", new { model = book })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</form>


<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/js/site.js"></script>
<script type="text/javascript">
    highlight("menu_books");
</script>
<script type="text/javascript">
    $("#search").keyup(function () {
        var txt = $('#search').val();
        $('.book').each(function () {
            $(this).hide();
            if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                $(this).show();
            }
        });
    });
</script>